.text-box-single-line-container {
    display: flex;
}

.text-box-multi-line-container {
    display: block;
}

.multi-line-text-box {
    white-space: pre-wrap;
}

.text-box-text {
    margin-left: 5px;
}